JT400_JAR=backend/drivers/jt400.jar
IBMI_DEFAULT_HOST=PUB400.COM
IBMI_USER=GLEARN21
IBMI_PASSWORD=CHANGE_ME
IBMI_JDBC_URL=jdbc:as400://PUB400.COM;prompt=false;naming=system;errors=full;date format=iso;time format=iso
IBMI_LIBRARY=GLEARN211
IBMI_SOURCE_TABLE=VENTASPF
IBMI_TARGET_TABLE=SALESTRANS
